@media screen and (max-width: 991px) and (min-width: 768px) {
      
  .features-area .features-body {
      transform: translateY(0px); 
  }
  .features-area .features-body .features-box {
        width: 100%; 
  }
  .feature-box {
      transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .features-area .features-body {
transform: translateY(0px);
display: inherit; 
  }
.features-area .features-body .features-box {
width: 100%; 
    }
.features-area .features-body .features-box:nth-child(even) .features-elements {
  order: 0; 
}
.features-area .features-body .features-box:nth-child(even) .features-box-img {
  order: 1; 
}

.feature-action .feature-box {
transform: translateY(0); 
  }
.feature-action .feature-box .features-body {
display: inline-block; 
    }
}


@media (max-width: 1600px) {
	.home-trainer-area{overflow: hidden;}
}
/* Large desktop :992px. */
@media (max-width: 1200px) {

	.trainer-area,
	.about-page-trainer{overflow: hidden;}
	.home-trainer-area .section-title p{padding: 25px 150px;}
	.section-title p{padding: 0 150px}
	.home-trainer-area .team-area .owl-controls .owl-buttons .owl-prev,
	.trainer-area .owl-controls .owl-buttons .owl-prev,
  .about-page-trainer .about-trainer-slide .owl-controls .owl-buttons .owl-prev,{left: 0;}
	.home-trainer-area .team-area .owl-controls .owl-buttons .owl-next,
	.trainer-area .owl-controls .owl-buttons .owl-next,
  .about-page-trainer .about-trainer-slide .owl-controls .owl-buttons .owl-next,{right: 0;}
}
/* Normal desktop :991px. */
@media (max-width: 991px) {

}

 
/* Tablet desktop :767px. */
@media (max-width: 767px) {
	.trainer-area .tabmenu-content-area .tabcontent-feature-image{display: none;}
	.trainer-area .tabmenu-content-area .trainer-content-area,
	.trainer-area .tabmenu-content-area .trainer-content-area .social-media ul{text-align: center;}
  .trainer-area .tabmenu-content-area .trainer-content-area p{margin: 10px 0 40px;}
  .home-about-area{padding: 0 0 50px;}
  .home-about-area .about-content,{padding: 50px 0;}
}

/*  mobile :480px. */
@media (max-width: 480px) {
	.home-trainer-area .section-title p{padding: 25px 0;}
	.section-title p{padding: 0;}
	.home-trainer-area .team-area .single-team .images .overley{bottom: -100px;}
}

/* small mobile :320px. */
@media (max-width: 320px) {

}

