
/*---------------------------------------------------------*/
/*------------------GLOBAL STYLES--------------------------*/
/*---------------------------------------------------------*/
body {
        padding-top: 3rem;
}
:root{
	--primary-color: #da2d31;
}
.hr-center{
    max-width: 60px;
    height: 5px;
    border-style: none;
    background-color: var(--primary-color);
    margin: 10px auto;
}
.hr-left{
    max-width: 60px;
    height: 5px;
    border-style: none;
    background-color: var(--primary-color);
    margin-top:10px;
}
span{
        color: var(--primary-color);
}
      
/*---------------------------------------------------------*/
/*----------------------SLIDER-----------------------------*/
/*---------------------------------------------------------*/
.carousel-caption {
        bottom: 3rem;
        z-index: 10;
 }
.carousel-item {
        height: 40rem;
        background-size: cover;
}
.img-1 {
        background-image: url('../img/slider/1.jpg');
}
.img-2 {
        background-image: url('../img/slider/2.jpg');
        background-position: center;
}
.img-3 {
        background-image: url('../img/slider/3.jpg');
}

/*---------------------------------------------------------*/
/*--------------------FEATURES-----------------------------*/
/*---------------------------------------------------------*/
.features-area .features-body {
        position: relative;
        background: #fff;
        transform: translateY(-59px);
        display: flex;
        box-shadow: 1px 3px 14px -3px #000; 
}
 .features-area .features-body .features-box {
        background: #fff;
        display: flex;
        flex-direction: column; 
}
.features-area .features-body .features-box:nth-child(even) .features-elements {
            order: 1; 
}
.features-area .features-body .features-box:nth-child(even) .features-box-img {
        order: 0; 
}
.features-area .features-body .features-box .features-elements {
        padding: 21px 25px; 
 }
.features-area .features-body .features-box .features-elements a {
        display: block;
        text-align: center;
}
.features-area .features-body .features-box .features-elements h4 {
        font-size: 25px;
        color: #000; 
}
.features-area .features-body .features-box a {
        display: block; 
}
.features-area .features-body .features-box a img {
        width: 100%; 
}
.icon-features{
        font-size: 40px;
        color: #1a1a1a;
        transition: 0.4s;
}
.icon-features:hover{
        color: var(--primary-color);
}
   
      
/*---------------------------------------------------------*/
/*----------------------ABOUT------------------------------*/
/*---------------------------------------------------------*/

.home-about-area .about-images {
        position: relative;
        overflow: hidden;
 }
.home-about-area .about-images a {
        display: block;
}
.home-about-area .about-images a img {
        width: 100%;
 }
 .home-about-area .about-content {
        padding: 100px 0 60px;
}
.home-about-area .about-content p {
        padding: 15px 0 15px 0;
        font-size: 16px;
}

/*---------------------------------------------------------*/
/*-------------------EXPERIENCIE---------------------------*/
/*---------------------------------------------------------*/
.experience{
        background-color: var(--primary-color);
	color: white;
	padding: 45px 0;
}
.experience-item{
	margin-top: 12px;
	text-align:center;
}
.experience-item h3{
	letter-spacing: 1px;
	font-size:37px;
	font-weight:400;
}
.experience-item h4{
	margin-left: -5px;
	font-size:20px;
	font-weight:300;
}
.icon-experience{
	font-size: 40px;
}
/*---------------------------------------------------------*/
/*---------------------TRAINERS----------------------------*/
/*---------------------------------------------------------*/
.home-trainer-area {
        padding: 100px 0;

}
.home-trainer-area .section-title h2 {
        color: #000000;
        font-weight: 700;
}
.home-trainer-area .section-title p {
        color: #000000;
        padding: 25px 300px;
      }
.home-trainer-area .team-area .single-team {
        position: relative;
        overflow: hidden;
        margin: 0 15px;
        transition: all 0.5s ease 0s;
      }
.home-trainer-area .team-area .single-team:hover .images .overley {
        bottom: 0px;
        opacity: 1;
        visibility: visible;
        background: var(--primary-color);
}
.home-trainer-area .team-area .single-team:hover .images .social-media {
        opacity: 1;
        top: 10%;
}
.home-trainer-area .team-area .single-team .images a {
        display: block;
}
.home-trainer-area .team-area .single-team .images a img {
        width: 100%;
}
.home-trainer-area .team-area .single-team .images .overley {
        transition: all 0.5s ease 0s;
        position: absolute;
        bottom: -122px;
        left: 0;
        right: 0;
        text-align: left;
        background:  var(--primary-color);
        padding: 20px;
        opacity: 1;
        visibility: visible;
}
.home-trainer-area .team-area .single-team .images .overley h3 {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
}
.home-trainer-area .team-area .single-team .images .overley h3 a {
        color: #ffffff;
}
.home-trainer-area .team-area .single-team .images .overley .others h4 {
        font-size: 13px;
        color: #ffffff;
        font-weight: 300;
        margin-bottom: 10px;
}
.home-trainer-area .team-area .single-team .images .overley .others p {
        color: #ffffff;
        margin-bottom: 0;
}
.home-trainer-area .team-area .single-team .images .social-media {
        position: absolute;
        transition: all 0.5s ease 0s;
        top: 0%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        opacity: 0;
}
.home-trainer-area .team-area .single-team .images .social-media li {
        display: inline-block;
        margin: 1px;
}
.home-trainer-area .team-area .single-team .images .social-media li a {
        width: 40px;
        height: 40px;
        background: #000000;
        line-height: 40px;
        text-align: center;
        color: #ffffff;
        transition: all 0.5s ease 0s;
}
.home-trainer-area .team-area .single-team .images .social-media li a:hover {
        background:  var(--primary-color);
}
.home-trainer-area .team-area .owl-controls .owl-pagination .owl-page.active span {
        background: var(--primary-color);
}
.home-trainer-area .team-area .owl-controls .owl-pagination .owl-page span {
        background:  var(--primary-color);
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-prev {
        left: -50px;
        position: absolute;
        top: 40%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        opacity: 1;
        background:  var(--primary-color);
        margin: auto;
        text-align: center;
        transition: all 0.5s ease 0s;
        border-radius: 5px;
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-prev:hover {
        background: var(--primary-color);
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-prev:hover i {
        color: #ffffff;
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-prev i {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-next {
        right: -50px;
        position: absolute;
        top: 40%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        opacity: 1;
        background: var(--primary-color);
        margin: auto;
        text-align: center;
        transition: all 0.5s ease 0s;
        border-radius: 5px;
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-next:hover {
        background: var(--primary-color);
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-next:hover i {
        color: #ffffff;
}
.home-trainer-area .team-area .owl-controls .owl-buttons .owl-next i {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
}


footer{background-color: #222629;;padding: 3% 1%; color: #fff;}